#python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg

# Virtual environment
.venv/
env/
venv/

# VSCode
.vscode/
*.code-workspace
*.txt
# Environment variables
.env

# Logs
*.log

#docker
docker-compose.yml